html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		title Neros Controlcenter
		link(rel='stylesheet', href='/amiibo.css')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	body
		.mario
			p 1
		.peach.ok
			p 2
		.yoshi 
			p 3
		.dk.ok
			p 4
		.link.ok
			p 5 
		.fox.ok
			p 6
		.samus.ok
			p 7
		.trainer.ok
			p 8
		.villager.ok
			p 9
		.pikachu.ok
			p 10
		.kirby
			p 11
		.marth.ok
			p 12
		.zelda.ok
			p 13
		.diddy-kong.ok
			p 14
		.luigi
			p 15
		.little-mac.ok
			p 16
		.pit.ok
			p 17
		.falcon.ok
			p 18
		.rosalina.ok
			p 19
		.bowser
			p 20
		.lucario.ok
			p 21
		.toon-link.ok
			p 22
		.sheik
			p 23
		.ike
			p 24
		.shulk.ok
			p 25
		.sonic.ok
			p 26
		.mega-man
			p 27
		.dedede.ok
			p 28
		.meta-knight.ok
			p 29
		.robin.ok
			p 30
		.lucina.ok
			p 31
		.wario.ok
			p 32
		.charizard.ok
			p 33
		.ness.ok
			p 34
		.pacman.ok
			p 35
		.greninja.ok
			p 36
		.jigglypuff.ok
			p 37
		.palutena.ok
			p 38
		.dark-pit.ok
			p 39
		.samus2.ok
			p 40
		.ganondorf.ok
			p 41
		.dr-mario.ok
			p 42
		.bowser-jr.ok
			p 43
		.olimar.ok
			p 44
		.mr-game.ok
			p 45
		.rob.ok
			p 46
		.duck-hunt.ok
			p 47
		.mii-brawler.ok
			p 48
		.mii-swordfighter.ok
			p 49
		.mii-gunner.ok
			p 50
		.mewtwo.ok
			p 51
		.falco.ok
			p 52
		.lucas.ok
			p 53
		.rob2
			p 54
		.roy.ok
			p 55
		.ryu.ok
			p 56
		.cloud
			p 57
		.cloud2
			p 58
		.corrin
			p 59
		.corrin2
			p 60
		.bayonetta
			p 61
		.bayonetta2
			p 62
		.inkling
			p 63
		.ridley
			p 64
		.wolf
			p 65
		.daisy
			p 66
		.plant
			p 67
		.climbers
			p 68
		.ylink
			p 69
		.pichu
			p 70
		.krool
			p 71
